* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    padding-top: 140px;
  }
  
  /* Style the top navigation bar */
  #topnav {
    top: 0;
    position: fixed;
    background-color:black;
    width: 100%;
    list-style-type: none;
    z-index: 99;
    padding: 60px 10px;
  }
  
  /* Style the topnav links */
  #logo {
    margin-left: 20%;
    float: left;
    font-size: 35px;
    transition: 0.4s;
    color: white;
  }

  #topnav-right{
    margin-right: 20%;
  }
  
  #topnav button{
    height: 30px;
  }
 
  #topnav-right a{ 
    margin-right: 5px;
    float: right;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-left: 10px;
  }
  
  /* Change color on hover */
  #topnav a:hover {
    text-decoration: underline;
  }
  
  .signup {
    padding: 16px 14px;
    font-size: 25px;
    width:100%;
    display: inline-block;
    background-color:white ;
  }
  
  
  /* Style the content */
  .content {
    background-color:white ;
    overflow: hidden;
    
  }

.modal-header h4{
  float: left;
}

  
  .modal-header, h4 ,  .close {
    background-color: black;
    color: white !important;
    text-align: center;
    font-size: 30px;
    
  }
  
  .modal-body button{
  background-color: black;
  color: white;
}

.modal-footer{
  background-color: #f9f9f9;
  font-size: 12px;
}

.bt{
  
  margin:5px;
}

.row .btn-default{
  background-color: black;
  color: white;
}

.row .btn{
  background-color: black;
  color: white;
}


.buttons .btn, .container .btn {
  float: right;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.buttons .btn:hover {
  background-color: white;
}

/* Slideshow container */
.slideshow-container {
  width:100%;
}

.slideshow-container img{
  max-height: 1000px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}



@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
  margin-top:7%;
  
}




  /* Style the footer */
  .footer {
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 40px;
    width:100%;
    background-color: whitesmoke;
  }

  .footer a{
    color: black;
  }
  .product-select{
    padding: 2%;
    font-weight: 700;
   
  }

  select{
    line-height: 1.3;
    box-sizing: border-box;
    display: block;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    padding: .6em 1.4em .5em .8em;
    
  }

select option{
  font-weight: normal;
}


.chat-popup {
  display: none;
  position: fixed;
  right: 15px;
  border:  black;
  
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-top {
  background-color: black;
  color: white;
  text-align: center;
}




.row button{
  float: right;
 margin: 4px;
}

.purchase-history .row{
  padding:4px;
}

.card{
  padding: 2px;
  margin:2px
}




/* testing css*/

.Sform{
  margin-top: 40px;
}

.Sform input[type=text],.Sform input[type=password]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.Sform input[type=text]:focus, input[type=password]:focus{
  background-color: #ddd;
  outline: none;
}



.Sform button {
background-color: black;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

.Sform button:hover {
opacity:1;
}

.Sform .cancelbtn {
padding: 14px 20px;
background-color:red;
}

.cancelbtn, .signupbtn {
float: left;
width: 20%;
}

.SForm .container {
padding: 16px;
}

.clearfix::after {
content: "";
clear: both;
display: table;
}

@media screen and (max-width: 300px) {
.cancelbtn, .signupbtn {
   width: 100%;
}
}